@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.text-shadow{
  text-shadow: 5px 2px 3px rgba(0,0,0,0.4);
}

.btn{
  padding: .875rem 2rem;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(182,12,12,1) 49%, rgba(92,6,6,1) 100%);

}

.bg-layout{
  background: linear-gradient(180deg, #505050 0%, rgba(31,30,30,1) 49%, rgba(0,0,0,1) 100%);
}

.swiperSlide{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #ffffff;
  border-radius: 8px;
}
