@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.text-shadow{
  text-shadow: 5px 2px 3px rgba(0,0,0,0.4);
}

.btn{
  padding: 1rem 2rem;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(182,12,12,1) 49%, rgba(92,6,6,1) 100%);
  
}